.weather-container {
    // width: auto;
    // max-width: 500px;
    // margin-top: 10px;
    padding: 10px;
    // border-radius: 2.5rem;
    // background-color: #1b1c48;
}

.container-top {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-top: 10px;
}

.weather-icon-location {
    width: 100%;
    margin: 10px auto;
    font-size: 4rem;
    color: #62bdfc;
}

.paragraph {
    font-size: 1.6rem;
    color: #cccbd9;
    text-align: center;
}

/* mid */
.container-mid {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    text-align: center;
}

.weather-temp-main {
    font-weight: bold;
    font-size: 4rem;
    // text-align: center;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.line {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.addition {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;
}

/* bot */
.container-bot {
    // display: flex;
    // align-items: center;
    text-align: center;
}

.weather-title {
    margin: 10px 0;
}


.container-bot h1 {
    font-size: 1.7rem;
}