
.container {
    max-height: 208px;
    overflow-y: scroll;
}

.table {
    border-collapse: collapse;
    font-size: 1.1rem;
    margin: 0 auto;
    width: 100%;
}

th {
    background: var(--body-color);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0
}

tr, th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

td {
    padding: 10px;
}

tr:nth-child(even){background-color: var(--comment-color);}

.delete-icon {
    color: rgb(210, 2, 2);
    cursor: pointer;
}